$font_family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

$margin_xsmall: 5px;
$margin_small: 10px;
$margin_large: 30px; 

$background_taskbar: #372a21;
$background_hover: #454545;
$background_power: #3b2d23;

$height_taskbar: 35px;
$position_bottom: 45px;

$test: 55px;